* {
  margin: 0;
  padding: 0;
  background-color: #57CAFC;
  box-sizing: border-box;
  font-family: Geneva, Arial, san-serif;
  font-size: 16px;
}

main {
  text-align: center;
  border-radius: 15px;
  margin: 50px auto;
  overflow: hidden;
  width: 800px;
}

.image {
  display: block;
  margin: 0px auto;
  overflow: hidden;
  width: 100%;
  height: auto;
  /* border-radius: 15px; */  /*seeing if this will fix the weird border radius on my image */
}

.text {
  width: 100%;
  background-color: #B3E6FF;
  padding: 40px 30px;
  margin: -20px auto 20px;
  border: 6px solid #3A8EE4;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1 {
  background-color: #B3E6FF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: #57CAFC;
  margin: 10px;
}

.quote {
  background-color: #B3E6FF;
  font-size: 2.5rem;
  color: #3A8EE4;
  font-weight: 200;
  margin: 40px 10px;
  padding: 20px 15px;
}

.speaker {
  background-color: #B3E6FF;
  text-transform: uppercase;
  text-transform: italic;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #EB78B8;
  margin: 10px;
}
